TELEGRAM_BOT_TOKEN=PASTE_YOUR_TOKEN_HERE
TELEGRAM_CHAT_ID=197509744
PROVINCE=Barcelona
OFFICE=Rambla Guipúscoa
PROCEDURE=TOMA DE HUELLAS (EXPEDICIÓN DE TARJETA)
NIE=Y4828563A
FULL_NAME=MARINA PETKIAVICHENE
CHECK_INTERVAL_SECONDS=90
HEARTBEAT_EVERY_HOURS=12
HEADLESS=true
